.logo{
    height: 40px;
    width: 80px;
}

.img1{
    height: 400px;
    width: 100%;
}

.cardSection{
    width: 100%;
    margin-left: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}